.button {
  width: 100px;
  margin: 20px;
}
/* Estilo para o campo de futebol */
.campo {
  position: relative;
  width: 600px;
  height: 600px;
  background-image: url(../../../public/img/campinho.PNG);
  background-size: cover;
}

/* Estilo para as imagens dos jogadores */
.imagem {
  width: 70px;
  height: 70px; 
}
.texto {
  color:'red'
}
.ata1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  left: 85px;
  top: 40px;
  width: 150px;
  height: 80px; 
}
 
.ata2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  left: 235px;
  top: 40px;
  width: 150px;
  height: 80px;
}
.ata3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  left: 370px;
  top: 40px;
  width: 150px;
  height: 80px;
}
.mei1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  left: 60px;
  top: 195px;
  width: 150px;
  height: 80px;
}
.mei2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  left: 258px;
  top: 195px;
  width: 90px;
  height: 80px;
}
.mei3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  left: 385px;
  top: 195px;
  width: 150px;
  height: 80px;
}
.dev1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  left: 45px;
  top: 345px;
  width: 120px;
  height: 80px;
}
.dev2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  position: absolute;
  left: 165px;
  top: 345px;
  width: 120px;
  height: 80px;
}
.dev3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  position: absolute;
  left: 310px;
  top: 345px;
  width: 120px;
  height: 80px;
}
.dev4 {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  position: absolute;
  left: 430px;
  top: 345px;
  width: 120px;
  height: 80px;
}
.tec{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  position: absolute;
  left: -15px;
  top: 475px;
  width: 150px;
  height: 80px;
}
.gol{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  position: absolute;
  left: 230px;
  top: 475px;
  width: 150px;
  height: 80px;
}

