header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #FF7400;
}
.logo{
    color: white;
    text-decoration: none;
    cursor: pointer;  
    margin-left: 50px; 
}
.cartola{
    margin-right: 50px;

}
.favoritos{
    color:white;
    text-decoration: none;
    cursor: pointer;
}
